<div class="row">
        <div class="col-md-8"> <%= label_tag  "Logged in, Hi "+current_user.name %> </div>
        <div class="col-md-4">
            <% if user_signed_in? %>
                <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'btn btn-primary float-right' %>
            <% end %>
         </div>
</div>